#hvac-slider{
    .hvac-container{
        width: 100%;
        margin: auto;
        .hvac-content{
            .swiper {
                width: 100%;
                height: 100%;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                .hvac-box{
                    position: relative;
                    width: 100%;
                    .hvac-img{
                        width: 100%;
                        height: 100vh;
                        filter: brightness(.6);
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .hvac-text{
                        top: 40%;
                        left: 30%;
                        position: absolute;
                        z-index: 5;
                        h1{
                            color: #fff;
                            font-size: 50px;
                        }
                        p{
                            color: #fff;

                        }
                    }
                }
            }
            .slider-btn{
                color: #fff;
            }
        }
        }
    }
}
#about-us{
    .about-us-head{
        margin-top: 100px;
        h1{
            font-size: 50px;
            text-transform: uppercase;
            color: #1C2541;
            font-weight: bold;
        }
    }
    .about-us-left{
        margin-top: 30px;
        .about-us-left-text{
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
            word-break: break-word;
            width: 90%;
            p{
                text-align: justify;
                margin-bottom: 0%;
            }
        }
        .about-us-left-btn{
            margin-top: 30px;
            a{
                text-transform: uppercase;
                border-radius: 8rem;
                border: 1px solid #3A506B;
                padding: 5px 40px;
                color: #3A506B;
                transition: .5s ease;
                font-size: 20px;
                &:hover{
                    background-color: #3A506B;
                    color: #fff;
                }
            }
        }
    }
    .about-us-right{
        margin-top: 30px;
        .about-us-img-box{
            position: relative;
            .about-us-img{
                width: 100%;
                height: auto;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .about-us-img-text{
                position: absolute;
                top: 80%;
                left: 5%;
                background-color: #1C2541;
                color: #fff;
                text-align: center;
                font-style: italic;
                padding: 20px;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
                word-break: break-word;
                h1{
                    text-transform: uppercase;
                    font-size: 50px;
                }
                p{
                    margin: 0%;
                }
            }
        }
    }
}
#suggestions{
    margin-top: 150px;
    .suggestion-head{
        .suggestion-head-left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .suggestion-head-text{
                h1{
                    color: #1C2541;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .suggestion-head-btn{
                margin-left: 20px;
                a{
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #3A506B;
                    border: 1px solid #3A506B;
                    border-radius: 8rem;
                    padding: 5px 40px;
                    transition: .5s ease;
                    &:hover{
                        background-color: #3A506B;
                        color: #fff;
                    }
                }
            }
        }
    }
    .suggestion-content{
        margin-top: 100px;
        .swiper {
          width: 100%;
          height: 100%;
        }
        .swiper-slide {
                margin: 0%;
                text-align: center;
                font-size: 18px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                .suggestion-box{
                    overflow: auto;
                    height: 350px;
                    margin-left: 10px;
                    background-color: #fff;
                    border: 1px solid #1C2541;
                    color: #1C2541;
                    padding: 40px 20px;
                    overflow-wrap: break-word;
                    hyphens: auto;
                .suggestion-box-head{
                    h4{
                        font-weight: bold;
                    }
                }
                .suggestion-box-text{
                    overflow: auto;
                    margin-top: 20px;
                    p{
                        font-size: 16px;
                        text-align: justify;
                    }
                }
                .suggestion-box-btn{
                    margin-top: 20px;
                    a{
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 400;
                        color: #1C2541;
                        border: 1px solid #1C2541;
                        padding: 8px 40px;
                        border-radius: 8rem;
                        transition: .5s ease;
                        &:hover{
                            color: #fff;
                            background-color: #1C2541;
                        }
                    }
                }
            }
        }
    }
}
#our-job{
    margin-top: 150px;
    .our-job-head{
        .our-job-head-left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .our-job-head-text{
                h1{
                    color: #1C2541;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .our-job-head-btn{
                margin-left: 20px;
                a{
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #1C2541;
                    border: 1px solid #1C2541;
                    border-radius: 8rem;
                    padding: 5px 40px;
                    transition: .5s ease;
                    &:hover{
                        background-color: #1C2541;
                        color: #fff;
                    }
                }
            }
        }
    }
    .our-job-container{
        width: 90%;
        margin: auto;
        .our-job-content{
            margin-top: 80px;
            .swiper {
              width: 100%;
              height: 100%;
            }
            .swiper-slide {
              text-align: center;
              font-size: 18px;
              background: #fff;
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .our-job-box{
                overflow: hidden;
                overflow-wrap: break-word;
                hyphens: auto;
                .our-job-img{
                    width: 400px;
                    height: 200px;
                    img{
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }
                .our-job-text{
                    p{
                        font-weight: 600;
                        font-size: 14px;
                        padding: 10px;
                        background-color: #1C2541;
                        color: #fff;
                    }
                }
            }
        }
    }
}
#blog{
    margin-top: 150px;
    .blog-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .blog-head-text{
            h1{
                color: #1C2541;
                font-size: 50px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .blog-head-btn{
            margin-left: 20px;
            a{
                font-size: 20px;
                text-transform: uppercase;
                color: #1C2541;
                border: 1px solid #1C2541;
                border-radius: 8rem;
                padding: 5px 40px;
                transition: .5s ease;
                &:hover{
                    background-color: #1C2541;
                    color: #fff;
                }
            }
        }
    }
    .blog-content{
        margin-top: 70px;
        .blog-box{
            overflow: auto;
            height: 350px;
            overflow-wrap: break-word;
            hyphens: auto;
            border: 1px solid #EEEEEE;
            padding: 20px ;
            .blog-box-date{
                p{
                    font-size: 24px;
                    font-weight: bold;
                    color: #3A506B ;
                    margin-bottom: 0%;
                }
            }
            .blog-box-head{
                h3{
                    a{
                        font-size: 22px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: #1C2541;
                    }
                }
            }
            .blog-box-text{
                margin-top: 20px;
                p{
                    font-size: 16px;
                    text-align: justify;
                }
            }
            .blog-box-btn{
                margin-top: 40px;
                a{
                    position: relative;
                    color: #1C2541;
                    font-weight: 600;
                    font-size: 18px;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 0%;
                        width: 0%;
                        height: 1px;
                        background-color: #1C2541;
                        transition: .5s ease;
                    }
                    &:hover{
                        &::before{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
#referance{
    margin-top: 150px;
    .referance-head{
        .referance-head-left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .referance-head-text{
                h1{
                    color: #1C2541;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .referance-head-btn{
                margin-left: 20px;
                a{
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #1C2541;
                    border: 1px solid #1C2541;
                    border-radius: 8rem;
                    padding: 5px 40px;
                    transition: .5s ease;
                    &:hover{
                        background-color: #1C2541;
                        color: #fff;
                    }
                }
            }
        }
    }
    .referance-container{
        width: 90%;
        margin: auto;
        .referance-content{
            margin-top: 80px;
            .swiper {
            width: 100%;
            height: 100%;
            }
            .swiper-slide {
            height: 300px;
            text-align: center;
            font-size: 18px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            }
            .referance-box{
                overflow-wrap: break-word;
                hyphens: auto;
                position: relative;
                .referance-img{
                    width: 400px;
                    height: 200px;
                    img{
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }
                .referance-text{
                    position: absolute;
                    width: 100%;
                    top: 90%;
                    left: 0%;
                    p{
                        font-weight: 600;
                        font-size: 12px;
                        padding: 10px;
                        background-color: #1C2541;
                        color: #fff;
                    }
                }
            }
        }
    }
}
#partners{
    margin-top: 150px;
    .partners-head{
        .partners-head-left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .partners-head-text{
                h1{
                    color: #1C2541;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .partners-head-btn{
                margin-left: 20px;
                a{
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #1C2541;
                    border: 1px solid #1C2541;
                    border-radius: 8rem;
                    padding: 5px 40px;
                    transition: .5s ease;
                    &:hover{
                        background-color: #1C2541;
                        color: #fff;
                    }
                }
            }
        }
    }
    .partners-container{
        width: 90%;
        margin: auto;
        .partners-content{
            margin-top: 80px;
            .swiper {
            width: 100%;
            height: 100%;
            }
            .swiper-slide {
            height: 150px;
            text-align: center;
            font-size: 18px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            }
            .partners-box{
                overflow-wrap: break-word;
                hyphens: auto;
                position: relative;
                .partners-img{
                    width: 300px;
                    height: 200px;
                    img{
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
#offers{
    margin-top: 150px;
    .offers-head{
        h1{
            color: #1C2541;
            font-size: 50px;
            text-transform: uppercase;
            font-weight: bold
        }
    }
    .offers-form{
        margin-top: 30px;
        label{
            font-size: 16px;
        }
        .form-inp{
            outline-color: rgba(0, 149, 255, 0.497);
            width: 100%;
            height: 35px;
            border-radius: 10px;
            border: 1px solid #cecece;
            padding: 0px 10px;
        }
        textarea{
            outline-color: rgba(0, 149, 255, 0.497);
            width: 100%;
            height: 200px;
            border-radius: 20px;
            border: 1px solid #cecece;
            padding: 10px;
        }
        .form-sub{
            input[type=submit]{
                outline-color: rgba(0, 149, 255, 0.497);
                border-radius: 8rem;
                border: 1px solid #1C2541;
                color: #1C2541;
                text-transform: uppercase;
                padding: 5px 40px;
                background-color: transparent;
                transition: .5s ease;
                &:hover{
                    background-color: #1C2541;
                    color: #fff;
                }
            }
        }
    }
    .offers-info{
        margin-top: 30px;
        .offers-info-top{
            p{
                color: #616161;
                font-weight: 600;
                margin: 0%;
                a{
                    color: #616161;
                }
            }
        }
        .offers-info-middle{
            margin: 10px 0px;
            .offers-media{
                a{
                    color: #1C2541;
                    font-size: 28px;
                }
                .fa-facebook{
                    transition: .5s ease;
                    &:hover{
                        color: #3b5998 ;
                    }
                }
                .fa-instagram{
                    transition: .5s ease;
                    &:hover{
                        color: #4c68d7;
                    }
                }
                .fa-youtube{
                    transition: .5s ease;
                    &:hover{
                        color: #FF0000;
                    }
                }
            }
        }
    }
}
@media(min-width:276px) and (max-width:576px){
    #hvac-slider{
        .hvac-container{
            .hvac-content{
                .swiper{
                    .slider-btn{
                        &::after{
                            font-size: 14px;
                        }
                    }
                    .swiper-slide{
                        .hvac-box{
                            .hvac-text{
                                top: 40%;
                                left: 0%;
                                h1{
                                    font-size: 20px;
                                }
                                p{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #about-us{
        .about-us-head{
            h1{
                text-align: center;
                font-size: 24px;
            }
        }
        .about-us-left{
            .about-us-left-text{
                width: 90%;
                margin: auto;
                p{
                    font-size: 14px;
                    text-align: justify;
                    margin-bottom: 0%;
                }
            }
            .about-us-left-btn{
                display: flex;
                justify-content: center;
                a{
                    padding: 5px 20px;
                    font-size: 16px;
                }
            }
        }
        .about-us-right{
            .about-us-img-box{
                .about-us-img-text{
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    padding: 10px;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    hyphens: auto;
                    word-break: break-word;
                    h1{
                        text-transform: uppercase;
                        font-size: 26px;
                    }
                    p{
                        font-size: 12px;
                        margin: 0%;
                    }
                }
            }
        }
    }
    #suggestions{
        .suggestion-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .suggestion-head-left{
                display: block;
                align-items: center;
                .suggestion-head-text{
                    h1{
                        font-size: 22px;
                    }
                }
                .suggestion-head-btn{
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .suggestion-head-right{
                margin-bottom: 30px;
                i{
                    margin-left: 5px;
                }
            }
            }
        .suggestion-content{
            margin-top: 60px;
            .swiper {
              width: 100%;
              height: 100%;
            }
            .swiper-slide {
                    .suggestion-box{
                        overflow: auto;
                        padding: 60px 10px;
                        overflow-wrap: break-word;
                        hyphens: auto;
                    .suggestion-box-text{
                        p{
                            font-size: 14px;
                            text-align: justify;
                        }
                    }
                    .suggestion-box-btn{
                        margin-top: 20px;
                        a{
                            font-size: 16px;
                            padding: 8px 20px;
                        }
                    }
                }
            }
        }
    }
    #our-job{
        .our-job-head{
            .our-job-head-left{
                display: block;
                .our-job-head-text{
                    h1{
                        font-size: 22px;
                    }
                }
                .our-job-head-btn{
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .our-job-head-right{
                display: flex;
                margin-bottom: 30px;
                i{
                    margin-left: 5px;
                    padding: 5px 10px;
                }
            }
        }
        .our-job-container{
            .our-job-content{
                .our-job-box{
                    overflow: hidden;
                    overflow-wrap: break-word;
                    hyphens: auto;
                    .our-job-img{
                        width: 250px;
                        height: 200px;
                        img{
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .our-job-text{
                        p{
                            font-size: 12px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    #blog{
        .blog-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .blog-head-text{
                h1{
                    font-size: 22px;
                }
            }
            .blog-head-btn{
                a{
                    font-size: 14px;
                    padding: 5px 20px;
                }
            }
        }
        .blog-content{
            .blog-box{
                padding: 20px;
                margin-bottom: 10px;
                .blog-box-date{
                    p{
                        font-size: 16px;
                    }
                }
                .blog-box-head{
                    h3{
                        a{
                            font-size: 18px;
                        }
                    }
                }
                .blog-box-text{
                    p{
                        font-size: 14px;
                    }
                }
                .blog-box-btn{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    #referance{
        .referance-head{
            .referance-head-left{
                display: block;
                align-items: center;
                .referance-head-text{
                    h1{
                        font-size: 22px;
                    }
                }
                .referance-head-btn{
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .referance-head-right{
                margin-bottom: 30px;
                i{
                    margin-left: 5px;
                }
            }
        }
        .referance-container{
            .referance-content{
                .referance-box{
                    .referance-img{
                        width: 250px;
                        height: 200px;
                    }
                    .referance-text{
                        top: 100%;
                        p{
                            font-size: 10px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    #partners{
        .partners-head{
            .partners-head-left{
                display: block;
                .partners-head-text{
                    h1{
                        font-size: 22px;
                    }
                }
                .partners-head-btn{
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .partners-head-right{
                margin-bottom: 30px;
                i{
                    margin-left: 5px;
                }
            }
        }
        .partners-container{
            .partners-content{
                .partners-box{
                    .partners-img{
                        width: 250px;
                        height: 200px;
                    }
                }
            }
        }
    }
    #offers{
        .offers-head{
            h1{
                text-align: center;
                font-size: 22px;
            }
        }
        .offers-form{
            label{
                margin-left: 10px;
                font-size: 14px;
            }
            .form-sub{
                width: 100%;
                input[type=submit]{
                    padding: 5px 20px;

                }
            }
        }
        .offers-info{
            .offers-info-top{
                p{
                    font-size: 14px;
                    a{
                        color: #616161;
                    }
                }
            }
            .offers-info-middle{
                margin: 10px 0px;
                .offers-media{
                    a{
                        margin-right: 10px;
                        color: #1C2541;
                        font-size: 28px;
                    }
                }
            }
            .offers-info-bottom{
                .mapouter{
                    width: 200px;
                    margin: auto;
                    height: 200px;
                    .gmap_canvas{
                        width: 100%;
                        height: 200px;
                    }
                }
            }
        }
    }
}
@media(min-width:576px) and (max-width:768px){
    #hvac-slider{
        .hvac-container{
            .hvac-content{
                .swiper{
                    .slider-btn{
                        &::after{
                            font-size: 14px;
                        }
                    }
                    .swiper-slide{
                        .hvac-box{
                            .hvac-text{
                                top: 42%;
                                left: 15%;
                                h1{
                                    font-size: 30px;
                                }
                                p{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #about-us{
        .about-us-head{
            h1{
                text-align: start;
                font-size: 30px;
            }
        }
        .about-us-left{
            .about-us-left-text{
                width: 100%;
                margin: auto;
                p{
                    font-size: 14px;
                    text-align: justify;
                    margin-bottom: 0%;
                }
            }
            .about-us-left-btn{
                display: flex;
                justify-content: center;
                a{
                    padding: 5px 20px;
                    font-size: 16px;
                }
            }
        }
        .about-us-right{
            .about-us-img-box{
                .about-us-img-text{
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    padding: 10px;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    hyphens: auto;
                    word-break: break-word;
                    h1{
                        text-transform: uppercase;
                        font-size: 26px;
                    }
                    p{
                        font-size: 12px;
                        margin: 0%;
                    }
                }
            }
        }
    }
    #suggestions{
        .suggestion-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .suggestion-head-left{
                display: flex;
                align-items: center;
                .suggestion-head-text{
                    h1{
                        font-size: 30px;
                    }
                }
                .suggestion-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .suggestion-head-right{
                i{
                    margin-left: 5px;
                }
            }
            }
        .suggestion-content{
            margin-top: 60px;
            .swiper {
              width: 100%;
              height: 100%;
            }
            .swiper-slide {
                    .suggestion-box{
                        overflow: auto;
                        padding: 60px 10px;
                        overflow-wrap: break-word;
                        hyphens: auto;
                    .suggestion-box-text{
                        p{
                            font-size: 16px;
                            text-align: justify;
                        }
                    }
                    .suggestion-box-btn{
                        margin-top: 20px;
                        a{
                            font-size: 16px;
                            padding: 8px 20px;
                        }
                    }
                }
            }
        }
    }
    #our-job{
        .our-job-head{
            .our-job-head-left{
                display: flex;
                .our-job-head-text{
                    h1{
                        font-size: 30px;
                    }
                }
                .our-job-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .our-job-head-right{    
                display: flex;
                i{
                    margin-left: 5px;
                    padding: 5px 10px;
                }
            }
        }
        .our-job-container{
            .our-job-content{
                .our-job-box{
                    overflow: hidden;
                    overflow-wrap: break-word;
                    hyphens: auto;
                    .our-job-img{
                        width: 250px;
                        height: 200px;
                        img{
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .our-job-text{
                        p{
                            font-size: 12px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    #blog{
        .blog-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .blog-head-text{
                h1{
                    font-size: 30px;
                }
            }
            .blog-head-btn{
                margin-bottom: 5px;
                a{
                    font-size: 14px;
                    padding: 5px 20px;
                }
            }
        }
        .blog-content{
            .blog-box{
                padding:20px;
                margin-bottom: 10px;
                .blog-box-date{
                    p{
                        font-size: 16px;
                    }
                }
                .blog-box-head{
                    h3{
                        a{
                            font-size: 18px;
                        }
                    }
                }
                .blog-box-text{
                    p{
                        font-size: 14px;
                    }
                }
                .blog-box-btn{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    #referance{
        .referance-head{
            .referance-head-left{
                display: flex;
                align-items: center;
                .referance-head-text{
                    h1{
                        font-size: 30px;
                    }
                }
                .referance-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .referance-head-right{
                i{
                    margin-left: 5px;
                }
            }
        }
        .referance-container{
            .referance-content{
                .referance-box{
                    .referance-img{
                        width: 250px;
                        height: 200px;
                    }
                    .referance-text{
                        top: 100%;
                        p{
                            font-size: 10px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    #partners{
        .partners-head{
            .partners-head-left{
                display: flex;
                .partners-head-text{
                    h1{
                        font-size: 30px;
                    }
                }
                .partners-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .partners-head-right{
                i{
                    margin-left: 5px;
                }
            }
        }
        .partners-container{
            .partners-content{
                .partners-box{
                    .partners-img{
                        width: 250px;
                        height: 200px;
                    }
                }
            }
        }
    }
    #offers{
        .offers-head{
            h1{
                text-align: start;
                font-size: 30px;
            }
        }
        .offers-form{
            label{
                margin-left: 10px;
                font-size: 16px;
            }
            .form-sub{
                width: 100%;
                input[type=submit]{
                    padding: 5px 20px;
                }
            }
        }
        .offers-info{
            .offers-info-top{
                p{
                    text-align: center;
                    font-size: 16px;
                    a{
                        color: #616161;
                    }
                }
            }
            .offers-info-middle{
                margin-left: 30%;
                .offers-media{
                    a{
                        margin-right: 10px;
                        color: #1C2541;
                        font-size: 28px;
                    }
                }
            }
            .offers-info-bottom{
                .mapouter{
                    width: 300px;
                    margin: auto;
                    height: 200px;
                    .gmap_canvas{
                        width: 100%;
                        height: 200px;
                    }
                }
            }
        }
    }
}
@media(min-width:768px) and (max-width:992px){
    #hvac-slider{
        .hvac-container{
            .hvac-content{
                .swiper{
                    .slider-btn{
                        &::after{
                            font-size: 30px;
                        }
                    }
                    .swiper-slide{
                        .hvac-box{
                            .hvac-text{
                                top: 45%;
                                left: 20%;
                                h1{
                                    font-size: 30px;
                                }
                                p{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #about-us{
        .about-us-head{
            h1{
                text-align: start;
                font-size: 36px;
            }
        }
        .about-us-left{
            .about-us-left-text{
                width: 100%;
                margin: auto;
                p{
                    font-size: 16px;
                    text-align: justify;
                    margin-bottom: 0%;
                }
            }
            .about-us-left-btn{
                display: flex;
                justify-content: center;
                a{
                    padding: 5px 20px;
                    font-size: 16px;
                }
            }
        }
        .about-us-right{
            .about-us-img-box{
                .about-us-img-text{
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    padding: 10px;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    hyphens: auto;
                    word-break: break-word;
                    h1{
                        text-transform: uppercase;
                        font-size: 26px;
                    }
                    p{
                        font-size: 14px;
                        margin: 0%;
                    }
                }
            }
        }
    }
    #suggestions{
        .suggestion-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .suggestion-head-left{
                display: flex;
                align-items: center;
                .suggestion-head-text{
                    h1{
                        font-size: 36px;
                    }
                }
                .suggestion-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .suggestion-head-right{
                i{
                    margin-left: 5px;
                }
            }
            }
        .suggestion-content{
            margin-top: 60px;
            .swiper {
              width: 100%;
              height: 100%;
            }
            .swiper-slide {
                    .suggestion-box{
                        overflow: auto;
                        padding: 60px 10px;
                        overflow-wrap: break-word;
                        hyphens: auto;
                    .suggestion-box-text{
                        p{
                            font-size: 16px;
                            text-align: justify;
                        }
                    }
                    .suggestion-box-btn{
                        margin-top: 20px;
                        a{
                            font-size: 16px;
                            padding: 8px 20px;
                        }
                    }
                }
            }
        }
    }
    #our-job{
        .our-job-head{
            .our-job-head-left{
                display: flex;
                .our-job-head-text{
                    h1{
                        font-size: 36px;
                    }
                }
                .our-job-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .our-job-head-right{    
                display: flex;
                i{
                    margin-left: 5px;
                    padding: 5px 10px;
                }
            }
        }
        .our-job-container{
            .our-job-content{
                .our-job-box{
                    overflow: hidden;
                    overflow-wrap: break-word;
                    hyphens: auto;
                    .our-job-img{
                        width: 250px;
                        height: 200px;
                        img{
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .our-job-text{
                        p{
                            font-size: 12px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    #blog{
        .blog-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .blog-head-text{
                h1{
                    font-size: 36px;
                }
            }
            .blog-head-btn{
                margin-bottom: 5px;
                a{
                    font-size: 14px;
                    padding: 5px 20px;
                }
            }
        }
        .blog-content{
            .blog-box{
                padding:20px;
                margin-bottom: 10px;
                .blog-box-date{
                    p{
                        font-size: 18px;
                    }
                }
                .blog-box-head{
                    h3{
                        a{
                            font-size: 20px;
                        }
                    }
                }
                .blog-box-text{
                    p{
                        font-size: 16px;
                    }
                }
                .blog-box-btn{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    #referance{
        .referance-head{
            .referance-head-left{
                display: flex;
                align-items: center;
                .referance-head-text{
                    h1{
                        font-size: 36px;
                    }
                }
                .referance-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .referance-head-right{
                i{
                    margin-left: 5px;
                }
            }
        }
        .referance-container{
            .referance-content{
                .referance-box{
                    .referance-img{
                        width: 300px;
                        height: 200px;
                    }
                    .referance-text{
                        top: 100%;
                        p{
                            font-size: 12px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    #partners{
        .partners-head{
            .partners-head-left{
                display: flex;
                .partners-head-text{
                    h1{
                        font-size: 36px;
                    }
                }
                .partners-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .partners-head-right{
                i{
                    margin-left: 5px;
                }
            }
        }
        .partners-container{
            .partners-content{
                .partners-box{
                    .partners-img{
                        width: 250px;
                        height: 200px;
                    }
                }
            }
        }
    }
    #offers{
        .offers-head{
            h1{
                text-align: start;
                font-size: 36px;
            }
        }
        .offers-form{
            label{
                margin-left: 10px;
                font-size: 16px;
            }
            .form-sub{
                width: 100%;
                input[type=submit]{
                    padding: 5px 20px;
                }
            }
        }
        .offers-info{
            .offers-info-top{
                p{
                    text-align: center;
                    font-size: 16px;
                    a{
                        color: #616161;
                    }
                }
            }
            .offers-info-middle{
                margin-left: 35%;
                .offers-media{
                    a{
                        margin-right: 10px;
                        color: #1C2541;
                        font-size: 28px;
                    }
                }
            }
            .offers-info-bottom{
                .mapouter{
                    width: 300px;
                    margin: auto;
                    height: 500px;
                    .gmap_canvas{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media(min-width:992px) and (max-width:1024px){
    #hvac-slider{
        .hvac-container{
            .hvac-content{
                .swiper{
                    .slider-btn{
                        &::after{
                            font-size: 30px;
                        }
                    }
                    .swiper-slide{
                        .hvac-box{
                            .hvac-text{
                                top: 46%;
                                left: 18%;
                                h1{
                                    font-size: 40px;
                                }
                                p{
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #about-us{
        .about-us-head{
            h1{
                text-align: start;
                font-size: 36px;
            }
        }
        .about-us-left{
            .about-us-left-text{
                width: 100%;
                margin: auto;
                p{
                    font-size: 16px;
                    text-align: justify;
                    margin-bottom: 0%;
                }
            }
            .about-us-left-btn{
                display: flex;
                justify-content: center;
                a{
                    padding: 5px 20px;
                    font-size: 16px;
                }
            }
        }
        .about-us-right{
            .about-us-img-box{
                .about-us-img-text{
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    padding: 10px;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    hyphens: auto;
                    word-break: break-word;
                    h1{
                        text-transform: uppercase;
                        font-size: 26px;
                    }
                    p{
                        font-size: 14px;
                        margin: 0%;
                    }
                }
            }
        }
    }
    #suggestions{
        .suggestion-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .suggestion-head-left{
                display: flex;
                align-items: center;
                .suggestion-head-text{
                    h1{
                        font-size: 36px;
                    }
                }
                .suggestion-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .suggestion-head-right{
                i{
                    margin-left: 5px;
                }
            }
            }
        .suggestion-content{
            margin-top: 60px;
            .swiper {
              width: 100%;
              height: 100%;
            }
            .swiper-slide {
                    .suggestion-box{
                        overflow: auto;
                        padding: 60px 10px;
                        overflow-wrap: break-word;
                        hyphens: auto;
                    .suggestion-box-text{
                        p{
                            font-size: 16px;
                            text-align: justify;
                        }
                    }
                    .suggestion-box-btn{
                        margin-top: 20px;
                        a{
                            font-size: 16px;
                            padding: 8px 20px;
                        }
                    }
                }
            }
        }
    }
    #our-job{
        .our-job-head{
            .our-job-head-left{
                display: flex;
                .our-job-head-text{
                    h1{
                        font-size: 36px;
                    }
                }
                .our-job-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .our-job-head-right{    
                display: flex;
                i{
                    margin-left: 5px;
                    padding: 5px 10px;
                }
            }
        }
        .our-job-container{
            .our-job-content{
                .our-job-box{
                    overflow: hidden;
                    overflow-wrap: break-word;
                    hyphens: auto;
                    .our-job-img{
                        width: 250px;
                        height: 200px;
                        img{
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .our-job-text{
                        p{
                            font-size: 12px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    #blog{
        .blog-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .blog-head-text{
                h1{
                    font-size: 36px;
                }
            }
            .blog-head-btn{
                margin-bottom: 5px;
                a{
                    font-size: 14px;
                    padding: 5px 20px;
                }
            }
        }
        .blog-content{
            .blog-box{
                padding:20px;
                margin-bottom: 10px;
                .blog-box-date{
                    p{
                        font-size: 18px;
                    }
                }
                .blog-box-head{
                    h3{
                        a{
                            font-size: 20px;
                        }
                    }
                }
                .blog-box-text{
                    p{
                        font-size: 16px;
                    }
                }
                .blog-box-btn{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    #referance{
        .referance-head{
            .referance-head-left{
                display: flex;
                align-items: center;
                .referance-head-text{
                    h1{
                        font-size: 36px;
                    }
                }
                .referance-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .referance-head-right{
                i{
                    margin-left: 5px;
                }
            }
        }
        .referance-container{
            .referance-content{
                .referance-box{
                    .referance-img{
                        width: 300px;
                        height: 200px;
                    }
                    .referance-text{
                        top: 100%;
                        p{
                            font-size: 12px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    #partners{
        .partners-head{
            .partners-head-left{
                display: flex;
                .partners-head-text{
                    h1{
                        font-size: 36px;
                    }
                }
                .partners-head-btn{
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
            .partners-head-right{
                i{
                    margin-left: 5px;
                }
            }
        }
        .partners-container{
            .partners-content{
                .partners-box{
                    .partners-img{
                        width: 250px;
                        height: 200px;
                    }
                }
            }
        }
    }
    #offers{
        .offers-head{
            h1{
                text-align: start;
                font-size: 36px;
            }
        }
        .offers-form{
            label{
                margin-left: 10px;
                font-size: 16px;
            }
            .form-sub{
                width: 100%;
                input[type=submit]{
                    padding: 5px 20px;
                }
            }
        }
        .offers-info{
            .offers-info-top{
                p{
                    text-align: center;
                    font-size: 16px;
                    a{
                        color: #616161;
                    }
                }
            }
            .offers-info-middle{
                margin-left: 35%;
                .offers-media{
                    a{
                        margin-right: 10px;
                        color: #1C2541;
                        font-size: 28px;
                    }
                }
            }
            .offers-info-bottom{
                .mapouter{
                    width: 300px;
                    margin: auto;
                    height: 500px;
                    .gmap_canvas{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}